body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-family: 'Oswald', sans-serif;
  }
  
  label {
    margin-top: 10px;
  }
  
  #result {
    font-size: 20px;
    font-weight: bold;
  }
  
  button {
    margin-top: 10px;
  }